<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">m²</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio Neto</th>
      <th scope="col">IVA</th>
      <th scope="col">$Total</th>
    </tr>
  </thead>
  <tbody>
    <% 12.times do |i| %>
        <tr>
        <th scope="row"><%="#{i+1} m²"%></th>
        <td><%= "#{@etiqueta['p' + (i + 1).to_s][0]} Aprox" %></td>
        <td><%="#{@etiqueta['p' + (i + 1).to_s][1]}"%></td>
        <td><%="#{@etiqueta['p' + (i + 1).to_s][2]}"%></td>
        <td><%="#{@etiqueta['p' + (i + 1).to_s][3]}"%></td>
        </tr>
    <% end %>
  </tbody>
</table>
