<div class="jumbotron">
    <p class="lead"><%= "Cantidad de Etiqueta 1mt2 : #{@etiqueta[:dimension_total]} Etiquetas"  %></p>
    <p class="lead"><%= "Cantidad de Etiqueta 2mt2 : #{@etiqueta[:dos][0]} Etiquetas"  %></p>
    <p class="lead"><%= "Cantidad de Etiqueta 3mt2 : #{@etiqueta[:tres][0]} Etiquetas"  %></p>
    <p class="lead"><%= "Cantidad de Etiqueta 4mt2 : #{@etiqueta[:cuatro][0]} Etiquetas"  %></p>
    <p class="lead"><%= "Cantidad de Etiqueta 5mt2 : #{@etiqueta[:cinco][0]} Etiquetas"  %></p>
    <p class="lead"><%= "Cantidad de Etiqueta 6mt2 : #{@etiqueta[:seis][0]} Etiquetas"  %></p>
    <p class="lead"><%= "Cantidad de Etiqueta 7mt2 : #{@etiqueta[:siete][0]} Etiquetas"  %></p>
    <p class="lead"><%= "Cantidad de Etiqueta 8mt2 : #{@etiqueta[:ocho][0]} Etiquetas"  %></p>
</div>